.loginForm, .signupForm {
  display: inline-block;
  border: 1px solid black;
  padding: 10px 30px 10px 30px;
  text-align: center;
}

.loginInput, .signupInput {
  display: block;
  margin: 0px;
}

.loginButton, .signupButton {
  width: 100%;
}

.signup label {
  float: left;
}

.signupSelect {
  text-align: left;
}

.paymentForm {
  width: 100%;
  margin: 0 auto;
}

.methodTitle {
  text-align: center
}

.paymentSetupForm {
  width: 40%;
  margin: 0 auto;
}

.paymentInput {
  width: 100%;
  margin-bottom: 5px;
}

.paymentOption {
  margin: 4px !important;
}

.paymentSetupSubmit {
  text-align: center;
}

.termsOfService {
  width: 40%;
  margin: 0 auto;
}