.loginForm, .signupForm {
  display: inline-block;
  border: 1px solid black;
  padding: 10px 30px 10px 30px;
  text-align: center;
}

.loginInput, .signupInput {
  display: block;
  margin: 0px;
}

.loginButton, .signupButton {
  width: 100%;
}

.signup label {
  float: left;
}

.signupSelect {
  text-align: left;
}

.paymentForm {
  width: 100%;
  margin: 0 auto;
}

.methodTitle {
  text-align: center
}

.paymentSetupForm {
  width: 40%;
  margin: 0 auto;
}

.paymentInput {
  width: 100%;
  margin-bottom: 5px;
}

.paymentOption {
  margin: 4px !important;
}

.paymentSetupSubmit {
  text-align: center;
}

.termsOfService {
  width: 40%;
  margin: 0 auto;
}

.transactionsTable {
  margin: 0 10px;
}

.dropdown {
  display: inline-block;
}

.dropDownMenu {
  text-align: left;
  color: black;
}

.editForm {
  width: 50%;
  margin: 0 auto;
  margin-top: 30px;
}

.tenantMakePayment {
  width: 30%;
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
}

#profileEditButton {
  margin-left: 60%;
}

.navbar {
  border-radius: 0px;
}

.braintree-toggle {
  visibility: hidden;
  height: 0px;
}

#tenantWindow {
  display: inline-block;
  border: 1px solid black;
}

#tenantSidebar {
  width: 20%;
  margin: 10px;
  display: inline-block;
  border: 1px solid black;
}

.truncate {
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
